/* Move down content because we have a fixed navbar that is 50px tall */
html {
    height:100%;
}

body {
    margin-top:20px;
    padding-top:70px;
    padding-bottom: 10px;
    height:100%;
    margin:0;   /* to get rid of scroll bar */
}

.wrapper {
    min-height:100%;    /* to keep .footer on bottom */
    position:relative;  /* must be relative or .footer will cover content */
}

.content {
    padding-bottom:2em; /* height of the footer */
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:1.5em;
    background:#BAC6C4;
}

#map-main {
    height: 500px;
}

#map-event {
    display:block;
    width: 100%;
    height:500px;
}

#map-canvas {
    width: 100%;
    height:90%;
}

.jumb-color {
    background:#BAC6C4;
}
