/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#map-canvas {
  /* TODO: percetages for better sizes? */
  width: 650px;
  height: 500px;
}

.jumb-color {
  background: #BAC6C4;
}
