{% extends "area51/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h1>Create an account</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
        <h6>upload a profile pic</h6>
        <input type="file" class="form-control">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <h3>Personal info</h3>

      <form action="/api/adduser/" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="form-group">
          <label class="col-lg-3 control-label">Name:</label>
          <div class="col-lg-8">
            <input name="name" class="form-control" type="text" placeholder="John Apleesed">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input name="email" class="form-control" type="text" placeholder="johnapleesed@company.tld">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input name="username" class="form-control" type="text" placeholder="john">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input name="password1" class="form-control" type="password" placeholder="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input name="password2" class="form-control" type="password" placeholder="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Create">
            <span></span>
            <input type="reset" id="clear" class="btn btn-danger" value="Clear">
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endblock %}
