{% extends "area51/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div id="map-event" class="col-md-7">
    <div id="map-canvas" class="container"> <!-- map here --> </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <!-- Info here -->
      <h3>"{{ event.title }}" event information:</h3>
      <hr>
      <p><strong>Creator: </strong><a href="/u/{{ event.creator }}">{{ event.creator }}</a></p>
      <p><strong>Date: </strong>{{ event.date_of_creation }}</p>
      <p><strong>Description: </strong>{{ event.description }}</p>
      <p id="position">{{ event.position }}</p>
      <p><strong>Category: </strong>{{ event.category }}</p>
      {% if event.dealt %}
        <p><strong>Dealt by user: </strong> {{ contribution.admin_name.username }}, on {{ contribution.date_of_contrib }} <i class="fa fa-check"></i></p>
        <br>
        {% if contribution.comment %}
          <p><strong>Comment by {{ contribution.admin_name.username }}:</strong></p>
          <hr>
          {{ contribution.comment }}
        {% else %}
          <p><strong>No Comment</strong></p>
        {% endif %}
      {% else %}
      <p><strong>Not yet checked</strong><i class="fa fa-times"></i></p>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-4">
            <form action="/api/checkevent/{{ event.id}}/" id="modal_form" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
              <input type="submit" name="check_it" id="check_button" class="btn btn-primary" value="Mark it Checked">
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    {% if event.photo1 or event.photo2 or event.photo3 or event.photo4 %}
      <div class="col-md-6">
        <h3>Available photos:</h3>
        <hr>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% if event.photo1 %}
              <div class="item active">
                <img src="/media/{{ event.photo1 }}" alt="Event photo 1" class="no_stretching">
              </div>
            {% endif %}
            {% if event.photo2 %}
              <div class="item">
                <img src="/media/{{ event.photo2 }}" alt="Event photo 2" class="no_stretching">
              </div>
            {% endif %}
            {% if event.photo3 %}
              <div class="item">
                <img src="/media/{{ event.photo3 }}" alt="Event photo 3" class="no_stretching">
              </div>
            {% endif %}
            {% if event.photo4 %}
              <div class="item">
                <img src="/media/{{ event.photo4 }}" alt="Event photo 4" class="no_stretching">
              </div>
            {% endif %}
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
      </div>
    {% endif %}

  </div>
<hr>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAycmK-3YhwtVLVR8lAQ3sD3zGFy1gfSrk&sensor=true&output=embed"></script>
<script type="text/javascript" src="{% static "js/map-events.js" %}"></script>
<script type='text/javascript'>
$("#modal_form").submit(function(event) {

       event.preventDefault();

       var $form = $( this ),
       url = $form.attr( 'action' );

       /* Send the data using post */
       var posting = $.post( url );
       posting.done(function( data ) {
               alert('success');
               });
       });
</script>
{% endblock %}
