{% extends "area51/base.html" %}
{% load staticfiles %}

{% block content %}

{% if user.is_authenticated == False %}
<!-- Main jumbotron -->
<div class="container">
    <div class="jumbotron jumb-color">
        <h1>Area 51</h1>
        <p>Η πρώτη πλατφόρμα αναφοράς εξωγήινων και άλλων μεταφυσικών περιστατικών στην Ελλάδα και στον υπόλοιπο κόσμο.</p>
        <p><a class="btn btn-primary btn-lg" href="create_account" role="button">Δημιουργία λογαριασμού &raquo;</a></p>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <!-- List of data in the first column and the map in the second -->
        <div class="col-md-5"> <!-- These need to add up to 12 -->
            <p align="left"><strong id="just-bigger-text">Τελευταία Περιστατικά: </strong>
            {% if user.is_authenticated %}
            <a align="right" href="new">
                <button type="button" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus fa-fw"></i> Καινούργιο Περιστατικό
                </button>
            </a>
            {% endif %}
            </p>
            {% if latest_events %}
            <div class="list-group">
                {% for event in latest_events %}
                    {% if event.dealt %}
                        <a href="/e/{{ event.id }}" class="list-group-item list-group-item-success">
                            {{ event.title }}
                            <span class="label label-default pull-right">από τον {{ event.creator }}</span>
                        </a>
                    {% else %}
                        <a href="/e/{{ event.id }}" class="list-group-item list-group-item-warning">
                            {{ event.title }}
                            <span class="label label-default pull-right">από τον {{ event.creator }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info"><p><i class="fa fa-info-circle"></i> No events yet.</p></div>
            {% endif %}
        </div>
        <div id="map-main" class="col-md-7" >
            <h3 align="center">Τα τελευταία 20 περιστατικά σε χάρτη</h3>
            <div id="map-canvas" class="container"> <!-- map here --> </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-5">
            <h2>Περισσότερες πληροφορίες:</h2>
            <div id="dynamic"><!-- AJAX data here --></div>
        </div>
    </div>
    <hr>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAycmK-3YhwtVLVR8lAQ3sD3zGFy1gfSrk&sensor=true&output=embed"></script>
<script type="text/javascript" src="{% static "js/maps.js" %}"></script>
<script type="text/javascript" src="{% static "js/dynamic.js" %}"></script>
{% endblock %}
