{% extends "area51/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Area 51</a>
    </div>
    <div class="navbar-collapse collapse">
      <form method="post" class="navbar-form navbar-right" role="form"> {% csrf_token %}
        <div class="form-group">
            <input name="username" type="text" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input name="password" type="password" placeholder="Password" class="form-control">
        </div>
        <input type="button" id="log" class="btn btn-success" value="Log in">
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!-- Main jumbotron -->
<div class="container">
  <div class="jumbotron jumb-color">
      <h1>Hello, worlds</h1>
      <p>The first alien reporting platform of the planet. Report Alien and UFOs sightings and see all the latest news.</p>
      <p><a class="btn btn-primary btn-lg" href="create_account" role="button">Create an account now &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- List of data in the first column and the map in the second -->
    <div class="col-md-5">
      <p align="left"><strong>Events: </strong>
        <a align="right" href="feed">
          <button type="button" class="btn btn-default btn-xs pull-right">
            <i class="fa fa-rss fa-fw"></i> RSS
          </button>
        </a>
      </p>
      {% if latest_events %}
        <ul class="list-group">
          {% for event in latest_events %}
            <li class="list-group-item"><p>{{ event.title }}</p></li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="alert alert-info"><p>No events yet.</p></div>
      {% endif %}
    </div>
    <div class="col-md-7"> <!-- These need to add up to 12 -->
      <h3 align="center">Latest Sightings</h2>
      <div id="map-canvas" class="container"> <!-- map here --> </div>
    </div>
  </div>

  <hr>

  <!-- TODO: AJAX -->
  <div class="row">
    <div class="col-md-4">
      <h2>Sightings dealt with:</h2>
      <p><div id="dynamic"><!-- AJAX data here --></div></p>
    </div>
  </div>

  <hr>

  <div id="footer">
    <div class="container">
      <p class="text-muted credit">&copy; Paragryllos Productions 2014 for CEID. No rights reserved.</p>
    </div>
  </div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAycmK-3YhwtVLVR8lAQ3sD3zGFy1gfSrk&sensor=true&output=embed"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/maps.js" %}"></script>
<script type="text/javascript" src="{% static "js/dynamic.js" %}"></script>
<script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endblock %}
