{% extends "area51/base.html" %}
{% load staticfiles %}

{% block content %}

{% if user.is_authenticated == False %}
<!-- Main jumbotron -->
<div class="container">
    <div class="jumbotron jumb-color">
        <h1>Hello, worlds</h1>
        <p>The first alien reporting platform of the planet. Report Alien and UFOs sightings and see all the latest news.</p>
        <p><a class="btn btn-primary btn-lg" href="create_account" role="button">Create an account now &raquo;</a></p>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <!-- List of data in the first column and the map in the second -->
        <div class="col-md-5">
            <p align="left"><strong id="just-bigger-text">Events: </strong>
            <a align="right" href="feed">
                <button type="button" class="btn btn-default btn-xs pull-right">
                    <i class="fa fa-rss fa-fw"></i> RSS
                </button>
            </a>
            {% if user.is_authenticated %}
            <a align="right" href="new">
                <button type="button" class="btn btn-success btn-xs pull-right">
                    <i class="fa fa-plus fa-fw"></i> New event
                </button>
            </a>
            {% endif %}
            </p>
            {% if latest_events %}
            <div class="list-group">
                {% for event in latest_events %}
                    {% if event.dealt %}
                        <a href="/e/{{ event.id }}" class="list-group-item list-group-item-success">{{ event.title }}</a>
                    {% else %}
                        <a href="/e/{{ event.id }}" class="list-group-item list-group-item-warning">{{ event.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info"><p>No events yet.</p></div>
            {% endif %}
        </div>
        <div id="map-main" class="col-md-7" > <!-- These need to add up to 12 -->
            <h3 align="center">Latest Sightings</h3>
            <div id="map-canvas" class="container"> <!-- map here --> </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <h2>Event Information:</h2>
            <div id="dynamic"><!-- AJAX data here --></div>
        </div>
    </div>
    <hr>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAycmK-3YhwtVLVR8lAQ3sD3zGFy1gfSrk&sensor=true&output=embed"></script>
<script type="text/javascript" src="{% static "js/maps.js" %}"></script>
{% endblock %}
