{% extends "area51/base.html" %}
{% load staticfiles %}

{% block content %}
{% if user.is_superuser %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Mark Event Checked</h4>
            </div>

            <form action="/api/checkevent/" id="modal_form" method="post" accept-charset="utf-8" class="form-horizontal" autocomplete="off" role="form">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Comment?</label>
                        <div class="col-lg-8">
                            <textarea name="comment" class="form-control" type="text" value="" rows="10">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Checked">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    {% if user.is_superuser %}
        <!-- Tabbed content of open and closed events -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#open_events" data-toggle="tab"><i class="fa fa-book"></i> Open Events</a></li>
            <li><a href="#closed" data-toggle="tab"><i class="fa fa-archive"></i> Archived Events</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="open_events">
                {% if open_events %}
                    {% for cat in categories %}
                        <h3 align="center"><strong>{{ cat }}</strong></h3>
                        <div class="list-group">
                        {% for event in open_events %}
                            {% if event.category == cat %}
                                <li class="list-group-item list-group-item-warning">
                                    <a href="/e/{{ event.id }}"> {{ event.title }}</a>
                                    <button class="btn btn-xs btn-primary pull-right" id="check_button" event="{{ event.id }}" data-toggle="modal" data-target="#myModal">Mark it Checked</button>
                                    <!-- absolute px distances from the button to make it a little bit more legible -->
                                    <span id="center-list"> created by <a href="/u/{{ event.creator }}">{{ event.creator }}</a> </span>
                                    <span id="date-tag" class="badge">{{ event.date_of_creation }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                    <!-- Pagination -->
                    <div align="center" class="row row-fluid">
                        <ul class="pagination">
                            {% if open_events.has_previous %}
                                <li><a href="?page={{ open_events.previous_page_number }}">&laquo;</a></li>
                            {% endif %}
                            <li><a href="#">{{ open_events.number }} of {{ open_events.paginator.num_pages }}</a></li>
                            {% if open_events.has_next %}
                                <li><a href="?page={{ open_events.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% else %}
                    <div class="alert alert-info"><p><i class="fa fa-info-circle"></i> No open events yet.</p></div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="closed">
                {% if contributions %}
                    <div class="list-group">
                        {% for contrib in contributions %}
                            <li class="list-group-item list-group-item-success">
                                <a href="/e/{{ contrib.event_id.id }}"> {{ contrib.event_id.title }}</a>
                                {% if contrib.comment %}
                                    <button type="button" class="btn btn-xs btn-primary pull-right" data-container="body" data-toggle="popover" data-content="{{ contrib.comment }}"><i class="fa fa-envelope-o"></i> Comment</button>
                                {% endif %}
                                <span id="center-list">
                                    checked by <a href="/u/{{ contrib.admin_name.username }}">{{ contrib.admin_name.username }}</a>
                                </span>
                                <span id="date-tag" class="badge">{{ contrib.date_of_contrib }}</span>
                            </li>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info"><p><i class="fa fa-info-circle"></i> No completed/checked events yet.</p></div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <h3>Your events</h3>
            <hr>
        </div>

        <div class="row">
            {% if user_latest %}
                <div class="list-group">
                    {% for event in user_latest %}
                        {% if event.dealt %}
                        <a href="/e/{{ event.id }}" class="list-group-item list-group-item-success">
                            {{ event.title }}
                            <span class="badge">created on {{ event.date_of_creation }}</span>
                        </a>
                        {% else %}
                        <a href="/e/{{ event.id }}" class="list-group-item list-group-item-warning">
                            {{ event.title }}
                            <span class="badge">created on {{ event.date_of_creation }}</span>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info"><p><i class="fa fa-info-circle"></i> You don't have any events yet.</p></div>
            {% endif %}
        </div>
    {% endif %}
    <hr>
</div>

<script>
$(document).ready(function() {
    // Activate comment pop-overs
    $('[data-toggle="popover"]').popover({trigger: 'hover','placement': 'left'});
    // This updates the form's action link for every button on the list.
    $("button").click(function() {
        if (this.id == "check_button") {
            var event_id = $(this).attr("event");
            $('#modal_form').attr("action", "/api/checkevent/" + event_id + "/");
        }
    });
});
</script>
{% endblock %}
