{% extends "area51/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="well well-lg">
                <p class="fa fa-book"> OPEN EVENTS: {{ open_events }}</p>
                <br>
                <p class="fa fa-archive"> ARCHIVED EVENTS: {{ dealt_events }}</p>
                <hr>
                <p><i class="fa fa-info-circle fa-lg"></i> Click the table cell to edit user data.</p>
                <p><i class="fa fa-info-circle fa-lg"></i> Category deletion does not affect events.</p>
                <p><i class="fa fa-info-circle fa-lg"></i> You cannot demote a moderator.</p>
                <p><i class="fa fa-info-circle fa-lg"></i> You cannot deactivate other moderators.</p>
            </div>
        </div>
        <div class="col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Edit Event Categories</div>
                <ul class="list-group">
                    {% for cat in categories %}
                    <li href="#" class="list-group-item">
                        <span href="#" class="cat-name" data-pk={{ cat.id }}><strong>{{ cat.name }}</strong></span>
                        <a href="/api/panel/categories/?pk={{ cat.id }}&name=delete">
                            <button type="button" class="btn btn-xs pull-right btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <form action="/api/panel/categories/" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
                <div class="input-group">
                    <input name="cat_name" class="form-control" type="text" id="new-cat-field" placeholder="New category">
                    <span class="input-group-btn">
                        <button id="new-cat-button" type="submit" class="btn btn-success">
                            <i class="fa fa-floppy-o"></i> Add
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" align="center"><p><strong>USERS<p></strong></div>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <td>#</td>
                    <td align="center"><strong>Moderator?</strong></td>
                    <td align="center"><strong>Status</strong></td>
                    <td align="center"><strong>Username</strong></td>
                    <td align="center"><strong>First name</strong></td>
                    <td align="center"><strong>Last name</strong></td>
                    <td align="center"><strong>Events</strong></td>
                    <td align="center"><strong>Date Joined</strong></td>
                    <td align="center"><strong>Last login</strong></td>
                    <td align="center"><strong>Phone</strong></td>
                    <td align="center"><strong>email</strong></td>
                </tr>
                {% for us in users %}
                <tr>
                    <td>{{ us.id }}</td>
                    {% if us.is_superuser %}
                        <td align="center"><i class="fa fa-check"></i></td>
                    {% else %}
                        <td href="#" align="center">
                            <a align="right" href="/api/panel/?pk={{ us.id }}&name=is_superuser">
                                <button type="button" class="btn btn-xs btn-success">
                                    <i class="fa fa-check"></i> Promote
                                </button>
                            </a>
                        </td>
                    {% endif %}
                    {% if us.is_active %}
                        {% if user != us and us.is_superuser %}
                            <td align="center"><i class="fa fa-check"></i></td>
                        {% else %}
                            <td href="#" align="center">
                                <a align="right" href="/api/panel/?pk={{ us.id }}&name=is_active">
                                    <button type="button" class="btn btn-xs btn-danger">
                                        <i class="fa fa-times"></i> Deactivate
                                    </button>
                                </a>
                            </td>
                        {% endif %}
                    {% else %}
                        <td href="#" align="center">
                            <a align="right" href="/api/panel/?pk={{ us.id }}&name=is_active">
                                <button type="button" class="btn btn-xs btn-success">
                                    <i class="fa fa-check"></i> Activate
                                </button>
                            </a>
                        </td>
                    {% endif %}
                    <td align="center"><a href="/u/{{ us.username }}">{{ us.username }}</a></td>
                    <td align="center" href="#" class="first_name" data-pk={{ us.id }}>{{ us.first_name }}</td>
                    <td align="center" href="#" class="last_name" data-pk={{ us.id }}>{{ us.last_name }}</td>
                    <td align="center" class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">User Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for event in all_events %}
                                {% if event.creator == us %}
                                    <li><a href="/e/{{ event.id }}/">{{ event.id }} {{ event.title }}
                                    {% if event.dealt %}
                                        <i class="fa fa-check"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                    {% endif %}
                                    </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td align="center">{{ us.date_joined|date:"d-m-Y" }}</td>
                    <td align="center">{{ us.last_login |date:"d-m-Y" }}</td>
                    <td align="center" href="#" class="telephone" data-pk={{ us.id }}>{{ us.telephone }}</td>
                    <td align="center">{{ us.email }}</td>
                </tr>
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
$(window).load(function() {
        // make x-editable work with inline mode
        $.fn.editable.defaults.mode = 'inline';

        // x-editable assignments
        $('.telephone').editable({
            type: 'text',
            name: 'telephone',
            url: '/api/panel/',
        });

        $('.first_name').editable({
            type: 'text',
            name: 'first_name',
            url: '/api/panel/',
        });

        $('.last_name').editable({
            type: 'text',
            name: 'last_name',
            url: '/api/panel/',
        });

        $('.cat-name').editable({
            type: 'text',
            name: 'yoyo',
            url: '/api/panel/categories/',
        });
});
</script>
{% endblock %}
