{% extends "area51/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h1>New event -- What did you see?</h1>
  <hr>

  <form action="/api/addevent/" method="post" accept-charset="utf-8" class="form-horizontal" role="form"
    {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}> {% csrf_token %}
    <div class="row">
      <div class="form-group">
        {{ form.title.errors }}
        <label class="col-lg-3 control-label">Title:</label>
        <div class="col-lg-8">
          <div class="fieldWrapper">
            {{ form.title }}
          </div>
        </div>
      </div>
      <div class="form-group">
        {{ form.description.errors }}
        <label class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          {{ form.description }}
        </div>
      </div>
      <div class="form-group">
        {{ form.category.errors }}
        <label class="col-lg-3 control-label">Category:</label>
        <div class="col-lg-8">
          {{ form.category }}
        </div>
      </div>
      <div class="form-group">
        {{ form.photo.errors }}
        <label class="col-lg-3 control-label">Upload some pictures:</label>
        <div class="col-lg-8">
          <!-- The required attributes are gonna added later dynamically -->
          {{ form.photo }}
        </div>
      </div>
    </div>

    <hr>
    <h2>We located you here: (feel free to change it)</h2>

    <div class="row">
      <div class="container">
        <div id="map-event" class="col-md-6">
          {{ form.media }}
          {{ form.position }}
        </div>
      </div>
    </div>

    <div id="submit_buttons" class="row">
      <div class="form-group">
        <label class="col-md-2 col-md-offset-3 control-label"></label>
        <input type="submit" class="btn btn-primary btn-lg" value="Done">
        <a align="right" href="/">
          <button type="button" class="btn btn-danger btn-lg">Cancel</button>
        </a>
      </div>
    </div>
  </form>

  <hr>
</div>
<script>
/* Code to actually locate the user and initialize the map */
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function successy(pos) {
  var crd = pos.coords;

  /* we are dynamically adding the coordinates to the input fields of the widget */
  $('#id_position_0').val(crd.latitude);
  $('#id_position_1').val(crd.longitude);

  /* triggering keydown event for the widget to update itself */
  $("#id_position_0").focus();
  var e = jQuery.Event("keydown");
  e.which = 20;
  e.ctrlKey = false;
  e.keyCode = 20;
  $("#id_position_0").trigger(e);
};

function errory(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};

/* let the magic happen */
navigator.geolocation.getCurrentPosition(successy, errory, options);
</script>
{% endblock %}
