{% extends "area51/base.html" %}

{% block content %}

<!-- Modal for profile editing. This will not appear on the DOM -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Επεξεργασία προφίλ</h4>
      </div>

      <form action="/api/edituser/" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">Όνομα:</label>
            <div class="col-lg-8">
              <input name="firstname" class="form-control" type="text" value="{{ us.first_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Επίθετο:</label>
            <div class="col-lg-8">
              <input name="lastname" class="form-control" type="text" value="{{ us.last_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">e-mail:</label>
            <div class="col-lg-8">
              <input name="email" id="email" class="form-control" type="text" value="{{ us.email }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Τηλέφωνο:</label>
            <div class="col-lg-8">
              <input name="phone" class="form-control" type="text" value="{{ us.telephone }}">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
          <input type="submit" class="btn btn-primary" value="Αποθήκευση">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    <p><strong id="just-bigger-text">{{ us.username }}</strong>
    {% if user.is_authenticated %}
      {% if user.username == us.username %}
        <!-- edit profile modal button trigger -->
        <button align="right" class="btn btn-warning btn pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-cog fa-fw"></i>Επεξεργασία</button></p>
      {% endif %}
    {% else %}
      </p> <!-- just closing the open paragraph here -->
    {% endif %}
    <hr>
  </div>

  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
      </div>
    </div>

    <!-- right column -->
    <div class="col-md-9 personal-info">
      <h3>Προσωπικά στοιχεία</h3>
      <hr>

      <p><strong>Όνομα: </strong>{{ us.first_name }}</p>
      <p><strong>Επίθετο: </strong>{{ us.last_name }}</p>
      <p><strong>e-mail: </strong>{{ us.email }}</p>
      <p><strong>Τηλέφωνο: </strong>{{ us.telephone }}</p>
      {% if us.is_superuser %}
      <p><strong>Admin? </strong><i class="fa fa-check"></i> Ναι</p>
      {% else %}
      <p><strong>Admin? </strong><i class="fa fa-times"></i> Όχι</p>
      {% endif %}
      <p><strong>Μέλος απο: </strong>{{ us.date_joined }}</p>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
