{% extends "area51/base.html" %}

{% block content %}
<div class="container">
  <h1>{{ user.username }}</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar"> <!-- TODO: Add profile photo here -->
      </div>
    </div>

    <!-- right column -->
    <div class="col-md-9 personal-info">
      <h3>Personal info</h3>
      <hr>

      <p><strong>First Name: </strong>{{ user.first_name }}</p>
      <p><strong>Last Name: </strong>{{ user.last_name }}</p>
      <p><strong>Email: </strong>{{ user.email }}</p>
      <p><strong>Phone: </strong>{{ user.telephone }}</p>
      {% if user.is_superuser %}
      <p><strong>Admin? </strong><i class="fa fa-check"></i></p>
      {% else %}
      <p><strong>Admin? </strong><i class="fa fa-times"></i></p>
      {% endif %}
      {% if user.is_staff %}
      <p><strong>Staff? </strong><i class="fa fa-check"></i></p>
      {% else %}
      <p><strong>Staff? </strong><i class="fa fa-times"></i></p>
      {% endif %}
      <p><strong>Date joined: </strong>{{ user.date_joined }}</p>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
